@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');

html, body, button {
    margin: 0;
    padding 0;
    font-family: Afacad;
    font-size: 16px;
}

body {
    
}

header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0;
    background-color: brown;
    width: 100%
}

h1, h2 {
    background-color: bisque;
    width: 800px
}

section {
    display: flex;
    flex-direction: column;
   
    text-align: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    width: 100%;
}

section img {
    width: 100%;
    height: 100vh;
    background-size: cover; /* This will make the background image cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

@media screen and (max-width: 600px) {
    /* Styles for screens with a maximum width of 600 pixels (typical for mobile devices) */
    body {
        header {
            font-size: 1.5em; /* Adjust font size for smaller screens */
            padding: 10px; /* Reduce padding on smaller screens */
          }

          h1 {
            font-size: 1.5em; /* Adjust font size for smaller screens */
          }
        
          h2 {
            font-size: 1em; /* Adjust font size for smaller screens */
          }
        
          main {
            padding: 20px;
          }
        
          section {
            background-size: contain; /* Change background size to contain for smaller screens */
          }
        
          #converter {
            width: 100%; /* Make the converter div take the full width on smaller screens */
          }
        }
    }

#converter {
    position: absolute;
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    justify-content: flex-start;
    font-size: 20px;
    z-index: 1; /* Ensure the button and form appear above the background image */
}

button {
    width: 200px;
    height: 40px;
    font-size: 18px;
}

button:hover{
    background: brown;
    transition: all 0.4s ease;
    color: bisque;
}

form {
    padding: 60px;
}

input {
    height: 40px;
    width: 80px;
    border: none;
    outline: none;
    background-color: bisque;
    border: 2px solid brown;

}
